i {
    padding: 10px;
}

.navbar-brand {
    font-family: 'Molle', cursive;
    font-size: 30px
}
button.btn: {
    padding: 10px 10px;
    border: none;
    background: grey
}

.view-buttons{
    margin-top: 10px;
}

.view-button-1{
    margin:5px;
    border: none;
    background: white;
}

.view-button-1:active{
    background: gray;
    border-radius: 8px;
    padding: 5px !important;
}

.view-button-2{
    margin:5px;
    border: none;
    background: white;
} 

.view-button-2:active{
    background: gray;
    border-radius: 8px;
    padding: 5px !important;
}

.row-1 {
    margin-top: 10px;
}

.modal-header{
    border-bottom: none;
    padding: 0px;
    margin: 0px;
}

.form-box {
    margin: 0px;
}
.modal-body {
    padding: 10px;
    margin: 0px;
}

.ig-btn-1 {
    border: 1px solid black;
    margin: 5px;
    background: white;
    border-radius: 8px !important;
    padding: 5px;
    line-height: 0px;
}

.ig-btn-2 {
    border: 1px solid black;
    margin: 5px;
    background: white;
    border-radius: 8px !important;
    padding: 5px;
    line-height: 0px;
}

.row-a {
    margin-top: 0px;
    background:rgb(207, 207, 207);
    padding: 20px;

}
.row-b {
    margin-top: 0px;
    background:rgb(207, 207, 207);
    padding: 20px;

}

.row-c {
    margin-top: 0px;
    background:rgb(207, 207, 207);
    padding: 20px;

}
.card-header{
    display: flex;
    padding: 5px;
    margin-bottom: 0px;
    background: white;
    justify-content: space-between;
}

.card-body {
    padding: 10px;
}

p {
    margin-bottom: 0px;
}

.card-items{
    display: flex;
    padding: 5px;
    margin: 0;
    background: white;
}
